/resources/public/js/compiled/**
figwheel_server.log
/lib/
/classes/
/out/
/target/
/.cljs_rhino_repl/
pom.xml
*jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

resources/public/compiled
resources/public/visual-editor.js
resources/public/visual-editor-min.js

.bundle