.keyboard .visual, .keyboard .textual {
	display: none;
}

.keyboard .visual.selected, .keyboard .textual.selected {
	display: block;
}

.layer {
	display: none;

	border: 1px dashed;
	margin-top: 5pt;

	box-sizing: border-box;

	height: 315px;

	padding: 3pt;
}

.layer.selected {
	display: block;
}



.control {
	padding: 3pt;
	text-align: center;
}

.layer .layout {
	position: relative;
}	




.button {
	position: absolute;

	width: 50px;
	height: 50px;

	background-color: gainsboro;

	font-family: 'Courier New', Courier, monospace;
}

.button.selected {
	background-color: aquamarine;
}

.button input {
	width: 100%;
	height: 100%;

	background: transparent;
    border: none;

    cursor: pointer;

    outline: none;

    padding-left: 5px;
}




.thumbnails {
	height: 200px;
	width: 1024px;
}

.layout.thumb:after {
  content:"";
  display:table;
  clear:both;
}



.layer.thumb {
	height: 100%;
	width:  200px;

	display: inline-block;

	margin-right: 4px;

	border: 1px solid black;

	cursor: pointer;
}

.layer.thumb:nth-child(5n) {
	margin-right: 0px;
}

.layer.thumb.hovered {
	opacity: 0.5;
}

.layer.thumb .layout {
	height: 60px;
}


.layer.thumb.selected {
	background-color: yellow;
}


.button.thumb {
	width: 10px;
    height: 10px;
    font-size: xx-small;
    font-weight: bolder;
}

